{% extends 'base.html' %}
{% block content %}
<h1>Dashboard Comercial</h1>
<div class="card mb-3">
    <div class="card-body">
        <h5>Compras Totais: R$ {{ compras }}</h5>
        <h5>Vendas Realizadas: R$ {{ vendas }}</h5>
        <h5>Estoque Disponível: {{ estoque_disponivel }} unidades</h5>
        <h5>Estimativa de Vendas: R$ {{ estimativa_vendas }}</h5>
    </div>
</div>
<a href="{% url 'cria_compra_venda' %}" class="btn btn-primary">Registrar Compra/Venda</a>
<a href="{% url 'cria_fornecedor_cliente' %}" class="btn btn-success">Cadastrar Fornecedor/Cliente</a>
{% endblock %}