{% extends 'base.html' %}
{% block content %}
<h1>Mapa do Talhão {{ talhao.nome }}</h1>
<div id="map" class="fade-in" style="height: 400px;"></div>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}"></script>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -16.0, lng: -48.0},  // Gameleira de Goiás
            zoom: 10
        });
        var coords = {{ talhao.coordenadas|safe }};
        new google.maps.Polygon({
            paths: coords,
            map: map
        });
    }
    window.addEventListener('load', initMap);
</script>
{% endblock %}