{% extends 'base.html' %}
{% block title %}Criar Nova Lavoura{% endblock %}
{% block content %}
  <div class="container mt-4">
    <h2>Criar Nova Lavoura</h2>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% if form.errors %}
      <div class="alert alert-danger">
        Erros: {{ form.errors }}
      </div>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_talhao">Talhão:</label>
        {{ form.talhao }}
      </div>
      <div class="form-group">
        <label for="id_cultura">Cultura:</label>
        {{ form.cultura }}
      </div>
      <div class="form-group">
        <label for="id_data_plantio">Data plantio:</label>
        {{ form.data_plantio }}
      </div>
      <div class="form-group form-check">
        {{ form.irrigado }}
        <label class="form-check-label" for="id_irrigado">Marque se é irrigado (sequeiro se falso)</label>
      </div>
      <button type="submit" class="btn btn-warning">Salvar</button>
    </form>
  </div>
{% endblock %}