{% extends 'base.html' %}
{% block title %}Dashboard Agrícola{% endblock %}
{% block content %}
  <div class="container mt-4">
    <h2>Dashboard Agrícola</h2>
    <BR></BR>
    <div class="row justify-content-center">
      <div class="col-md-3 mb-3">
        <div class="card border rounded">
          <div class="card-body">
            <h5 class="card-title">Ordens Pendentes</h5>
            <p class="card-text">{{ ordens_pendentes.count }} ordens</p>
            <a href="{% url 'lista_ordens' %}" class="btn btn-warning btn-block">Ver Todas</a>
            <a href="{% url 'cria_ordem' %}" class="btn btn-success btn-block">Criar Nova</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card border rounded">
          <div class="card-body">
            <h5 class="card-title">Lavouras Ativas</h5>
            <p class="card-text">{{ lavouras_ativas.count }} lavouras</p>
            <a href="{% url 'lista_lavouras' %}" class="btn btn-info btn-block">Gerenciar Lavouras</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card border rounded">
          <div class="card-body">
            <h5 class="card-title">Produtividade</h5>
            <p class="card-text">Histórico disponível</p>
            <a href="{% url 'historico_produtividade' %}" class="btn btn-warning btn-block">Ver Histórico</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card border rounded">
          <div class="card-body">
            <h5 class="card-title">Gerenciar Culturas</h5>
            <p class="card-text">Adicione ou edite tipos de culturas</p>
            <a href="{% url 'gerenciar_culturas' %}" class="btn btn-primary btn-block">Acessar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}