{% extends 'base.html' %}
{% block content %}
<h1>Ordens Realizadas</h1>
<table class="table table-striped">
    <thead>
        <tr><th>ID</th><th>Talhão</th><th>Cultura</th><th>Tipo</th><th>Status</th></tr>
    </thead>
    <tbody>
        {% for ordem in ordens %}
        <tr>
            <td>{{ ordem.id }}</td>
            <td>{{ ordem.talhao }}</td>
            <td>{{ ordem.cultura }}</td>
            <td>{{ ordem.tipo }}</td>
            <td>{{ ordem.aprovado|yesno:"Aprovada,Pendente" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}